@import "../general/colors";
@import "../general/variables";
@import "../general/mixins";

.app {
    margin: 0 auto;
	max-width: $page-max-width;
	min-height: 100vh;
    padding: 48px 10px;
	width: 100%;

	&__title {
		margin-bottom: 24px;
		font-size: 36px;
	}

	// spin timer and results history
	&__stats-row {
		display: flex;
		margin-bottom: 24px;
		min-height: 80px;
	}

	// wheel and board
	&__game-board {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		background-color: $table-color;
		border: 2px solid rgba($black, 0.2);
		margin-bottom: 64px;
		height: 440px;
		font-size: 40px;
		padding: 8px;
		border-radius: 10px;
	}

	@include respond-to(max-width, $break-tablet-small) {
		&__stats-row {
			flex-direction: column-reverse;
			margin-bottom: 36px;
		}
    }
}
