@import "../general/variables";

.app {
    margin: 0 auto;
	max-width: $page-max-width;
	min-height: 100vh;
    padding: 48px 10px;
	width: 100%;

	&__title {
		margin-bottom: 24px;
		font-size: 36px;
	}

	&__row {
		display: flex;
		margin-bottom: 20px;
	}
}
