@import "../general/colors";
@import "../general/animations";
@import "../general/mixins";
@import "../general/variables";

.board {
    &__table-container {
        display: inline-flex;
        padding: 4px;
        border: 1px solid rgba($white, 0.4);
        background-color: rgba($white, 0.07);
    }

    &__table {
        display: grid;
        grid-template-rows: repeat(3, 64px);
    }

    &__number {
        display: inline-block;
        width: 64px;
		font-size: 40px;
        margin: 1px;
        border-radius: 5px;
        user-select: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: scale(1);
        }
    }

    &__number--winning {
        // step-end in order to have no transition to achieve blinking effect
        animation: winning-number 2.5s step-end;
        animation-iteration-count: 2;
    }

    &__zeroes-container {
        display: flex;
        margin-right: 2px;
        flex-direction: column-reverse;
    }

    &__zero {
        height: 100%;
    }

    &__zero-text {
        display: inline-flex;
        align-items: center;
        color: $white;
        height: 100%;
    }

    @include respond-to(max-width, $break-board-medium) {
        &__table {
            grid-template-rows: repeat(3, 53px);
        }
    
        &__number {
            width: 53px;
		    font-size: 30px;
        }
    }

    @include respond-to(max-width, $break-tablet-small) {
        &__table {
            grid-template-rows: repeat(3, 40px);
        }
    
        &__number {
            width: 40px;
		    font-size: 20px;
        }
    }

    @include respond-to(max-width, $break-board-vertical) {
        &__table-container {
            flex-direction: column;
        }

        &__table {
            display: flex;
            flex-direction: row-reverse;
        }

        &__table-row {
            display: flex;
            flex-direction: column;
        }

        &__zeroes-container {
            flex-direction: row;
            margin-right: 0;
        }

        &__zero {
            flex-grow: 1;
        }
    
        &__number {
            width: 64px;
		    font-size: 40px;
        }
    }
}
