@import "../general/colors";
@import "../general/animations";

.board {
    &__table-container {
        display: inline-flex;
        padding: 4px;
        border: 1px solid rgba($white, 0.4);
        background-color: rgba($white, 0.07);
    }

    &__table {
        display: grid;
        grid-template-rows: repeat(3, 64px);
    }

    &__number {
        display: inline-block;
        width: 64px;
        margin: 1px;
        border-radius: 5px;
        user-select: none;
        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: scale(1);
        }
    }

    &__number--winning {
        animation: winning-number 5s;
    }

    &__zeroes-container {
        display: flex;
        margin-right: 2px;
        flex-direction: column-reverse;
    }

    &__zero {
        height: 100%;
    }

    &__zero-text {
        display: inline-flex;
        align-items: center;
        color: $white;
        height: 100%;
    }
}
