@import "../general/colors";

.statistics {
    margin-bottom: 36px;

    &__title {
        font-size: 24px;
        padding-bottom: 6px;
    }

    &__table {
        border-collapse: collapse;
        font-size: 18px;
    }

    &__row {
        border-top: 1px solid rgba($black, 0.2);
        border-bottom: 1px solid rgba($black, 0.2);
    }

    &__header {
        text-align: left;
        padding: 10px 14px 10px 4px;
    }

    &__item {
        padding: 8px;
        width: 35px;
        text-align: center;
        margin-right: 1px;
    }

    &__row--hits &__item,
    &__item {
        &:not(:last-of-type) {
            border-right: 1px solid rgba($black, 0.1);
        }
    }
}


.block-red,
.block-black,
.block-green {
    color: $white;
    padding: 8px;
}

.block-red {
    background-color: $red;
}

.block-black {
    background-color: $black;
}

.block-green {
    background-color: $green;
}

.hot {
    background-color: $light-red;
}

.cold {
    background-color: $light-blue;
}
