@import "../general/colors";
@import "../general/mixins";
@import "../general/variables";

.statistics {
    margin-bottom: 36px;
    overflow-x: auto;
    width: 100%;

    &__title {
        font-size: 24px;
        padding-bottom: 6px;
    }

    &__table {
        border-spacing: 1px;
        font-size: 18px;
    }

    &__header {
        text-align: left;
        padding: 10px 14px 10px 4px;
    }

    &__count {
        border-right: 1px solid rgba($black, 0.08);
    }

    @include respond-to(max-width, $break-phone-medium) {
        &__title {
            font-size: 20px;
        }

        &__table {
            font-size: 16px;
        }
    }
}

.hot {
    background-color: $light-red;
}

.cold {
    background-color: $light-blue;
}
