// general
$black: #000;
$white: #fff;

// table and table block colors
$red: #d9534f;
$green: #449d44;
$light-blue: #d9edf7;
$light-red: #f2dede;
$table-color: #0f6e3c;

// winning number animation
$step1: deeppink;
$step2: chartreuse;
$step3: lightskyblue;
$step4: gold;
$step5: navy;
