// text
$text-default: #353840;

// general
$black: #000;
$white: #fff;

// table and table block colors
$red: #d9534f;
$green: #449d44;
$light-blue: #d9edf7;
$light-red: #f2dede;
$table-color: #0f6e3c;

// winning number animation
$step1: chartreuse;
$step2: deeppink;
$step3: turquoise;
$step4: yellow;
$step5: navy;
$step6: salmon;
