@import "./colors";

$font-default: "Poppins", Arial, sans-serif;

* {
	box-sizing: border-box;
	color: $text-default;
	font-family: $font-default;
	margin: 0;
	padding: 0;
}

a, button, label {
    cursor: pointer;
}
