@import "./shared";

$text-default: #353840;

* {
	box-sizing: border-box;
	color: #353840;
	font-family: "Poppins", Arial, sans-serif;
	margin: 0;
	padding: 0;
}

a, button, label {
    cursor: pointer;
}
