// general
$page-max-width: 1400px;

// general break points (horizontal)
$break-laptop: 1366px;
$break-tablet-small: 768px;
$break-phone-medium: 425px;

// board-specific
$break-board-medium: 910px;
$break-board-vertical: 600px;
